<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cuit.mapper.DishesMapper">

    <select id="queryDishesBySid" resultType="Dishes">
        select * from canteendb.dishes where sid = #{sid}
    </select>

    <select id="queryDishesByDid" resultType="Dishes">
        select * from canteendb.dishes where did = #{did}
    </select>

    <insert id="addDishes" parameterType="Dishes">
        insert into canteendb.dishes(dname, dprice, dimage, sid, detail)
        values (#{dname},#{dprice},#{dimage},#{sid},#{detail})
    </insert>

    <delete id="deleteDishes" parameterType="int">
        delete from dishes
        where did = #{did}
    </delete>
</mapper>