<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cuit.mapper.OrderMapper">
    <insert id="addOrder" parameterType="Order">
        insert into canteendb."order"(onumber, uid, did, payment, quantity, status)
        values (#{onumber},#{uid},#{did},#{payment},#{quantity},#{status})
    </insert>

    <update id="changeOrderStatus" parameterType="int">
        update canteendb."order"
        set status = 0
        where did = #{did} and orderid = #{orderid}
    </update>

    <select id="countUserOrder" resultType="int">
        select count(distinct orderid) from canteendb."order"
        where uid = #{uid}
    </select>

    <select id="countShopOrder" resultType="int">
        select count(distinct orderid) from canteendb."order"
        where sid = #{sid}
    </select>

    <select id="queryOrderUserList" resultType="Order">
        select * from canteendb."order"
        where uid = #{uid}
    </select>

    <select id="queryOrderManagerList" resultType="Order">
        select * from canteendb."order"
        where sid = #{sid}
    </select>

    <select id="queryOrderByOrderid" resultType="Order">
        select * from canteendb."order"
        where orderid = #{orderid}
    </select>
</mapper>