<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cuit.mapper.ShopMapper">

    <select id="queryShopByRid" resultType="Shop">
        select * from canteendb.shop
        where rid = #{rid} and status != 2
    </select>

    <insert id="addShop" parameterType="Shop">
        insert into canteendb.shop(sname, rid, location, manager, tel)
        values (#{sname},#{rid},#{location},#{manager},#{tel})
    </insert>

    <delete id="deleteShop" parameterType="int">
        delete from canteendb.shop
        where sid = #{sid}
    </delete>

    <select id="queryShopBySid" resultType="Shop">
        select * from canteendb.shop
        where sid = #{sid} and status != 2
    </select>

    <select id="queryShopBySname" resultType="Shop">
        select * from canteendb.shop
        where sname = #{sname} and status != 2
    </select>

    <select id="queryShopBySnameRid" resultType="Shop">
        select * from canteendb.shop
        where sname = #{sname} and rid = #{rid} and status != 2
    </select>
    
    <select id="queryShopBySnameOrSid" resultType="Shop">
        select * from canteendb.shop
        where (sid like concat('%',#{keyword},'%') or sname like concat('%',#{keyword},'%'))
        and status != 2
        limit ${6*(page -1)},6
    </select>

    <update id="editShop" parameterType="Shop">
        update canteendb.shop
        set
          sname = #{sname},
          location = #{location},
          manager = #{manager},
          tel = #{tel},
          status = #{status}
        where sid =#{sid}
    </update>

    <select id="queryShopByPage" resultType="Shop">
        select * from shop
        where status != 2
        limit ${6*(page -1)},6
    </select>

    <select id="countShop" resultType="int">
        select count(*) from canteendb.shop
        where status != 2
    </select>

    <select id="countQueryShop" resultType="int">
        select count(*) from canteendb.shop
        where (sid like concat('%',#{keyword},'%') or sname like concat('%',#{keyword},'%'))
        and status != 2
    </select>

    <update id="changeShopStatus" parameterType="int">
        update canteendb.shop
        set status = 2
        where rid = #{rid}
    </update>
</mapper>