<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cuit.mapper.USMapper">

    <insert id="addUS" parameterType="US">
        insert into canteendb.us(uid, sid)
        values (#{uid},#{sid})
    </insert>

    <select id="queryUS" resultType="US">
        select * from canteendb.us
        where uid = #{uid}
    </select>

    <select id="queryUSBySid" resultType="US">
        select * from canteendb.us
        where sid = #{sid}
    </select>
</mapper>