<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" th:href="@{DPHT/favicon.ico}">
    <title>school_canteen_shop_backstage</title>
    <script defer="defer" th:src="@{DPHT/js/chunk-vendors.16ad051c.js}"></script>
    <script defer="defer" th:src="@{DPHT/js/app.6dc85144.js}"></script>
    <link th:href="@{DPHT/css/chunk-vendors.7c88cb4c.css}" rel="stylesheet">
    <link th:href="@{DPHT/css/app.4804778e.css}" rel="stylesheet">
</head>
<body>
<noscript><strong>We're sorry but school_canteen_shop_backstage doesn't work properly without JavaScript enabled. Please
    enable it to continue.</strong></noscript>
<div id="app"></div>
</body>
</html>