<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="icon" th:href="@{YHQT/favicon.ico}"/>
    <title>school_canteen</title>
    <script defer="defer" th:src="@{YHQT/js/chunk-vendors.949cb511.js}"></script>
    <script defer="defer" th:src="@{YHQT/js/app.88d96575.js}"></script>
    <link th:href="@{YHQT/css/chunk-vendors.7c88cb4c.css}" rel="stylesheet">
    <link th:href="@{YHQT/css/app.4804778e.css}" rel="stylesheet">
</head>
<body>
<noscript><strong>We're sorry but school_canteen doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id="app"></div>
</body>
</html>